* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  background-color: #46a4a3;
}
.navbar-brand img{
  height: 70px;
}

.nav-item a :hover{

  background-color: #46a4a3;
  border-radius: 5px;
  height: 0px;

}

.doctor-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.doctor-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.doctor-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.doctor-specialization {
  font-size: 18px;
  color: #888;
  margin-bottom: 20px;
}

.experience-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.experience-list li {
  margin-bottom: 10px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

.whatsapp-link,
.linkedin-link,
.instagram-link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.whatsapp-link {
  background-color: #5f79a0;
}

.linkedin-link {
  background-color: #5f79a0;
}

.instagram-link {
  background-color: #5f79a0;
}

.whatsapp-link:hover,
.linkedin-link:hover,
.instagram-link:hover {
  background-color: #46a4a3;
}

.contact-form {
  text-align: left;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
}

.contact-form button {
  background-color: #5f79a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #46a4a3;
}

.hero {
  background-image: url(ruta-imagen-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}

.intention {
  padding: 20px;
  text-align: center;
}

.intention-image {
  max-width: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.intention-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.intention-description {
  margin-bottom: 10px;
}

.service-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15px; 
  margin-right: 15px;
}

.service-card-item {
  flex-basis: calc(25% - 30px);
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.service-card-item {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #979696;
  text-align: center;
}

.service-card-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.service-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-card-description {
  margin-bottom: 10px;
}

.service-card-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
main {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile-menu li {
    margin-bottom: 10px;
  }

  .mobile-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  .mobile-menu li a:hover {
    color: #45868b9d;
  }


    .service-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -15px;
      margin-right: -15px;
    }
  
    .service-card-item {
      flex-basis: calc(50% - 30px);
      text-align: center;
      padding: 20px;
      margin-bottom: 30px;
      margin: 10px;
    }
  }
  

  .contact-info {
    padding: 10px;
  }

  .map-container {
    height: 200px;
    
  }

  .hero {
    height: 30px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }


@media (min-width: 769px) {
  footer {
    
    bottom: 0;
  }
  .principal{
    margin-bottom: 10px;
  }
  .service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .hero {
    height: 30px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 24px;
  }
  
}
