.map-ubi {
    .map {
      width: 100%;
      height: 400px;
      text-align: center;
    }
  }
  .map-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; 
    height: 0;
    .map-container iframe {
      text-align: center;
      position: relative;
      top: 50px;
      left: 50%;
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 768px) {
      .map-container {
        padding-bottom: 75%; 
      }
    } 
    @media screen and (max-width: 480px) {
      .map-container {
        padding-bottom: 100%; 
      }
    }
  }
  
