*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: whitesmoke;
    font-family: 'Geologica', sans-serif;
    font-family: 'Poppins', sans-serif;
}
footer{

    bottom: 0;
}
header{
    background-color: #202020;
    .navbar{
       background-color: cadetblue;
    
    }
    .navbar-brand{
        img{
            height: 80px;
        }

    }
    .nav-item{

        a:hover{
            transform: translate(2px,2px) ;
            background-color: #27575e85;
            border-radius: 10px;
            color: #202020;
        }
    }


}

.main-index{
    margin-top: 20px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: #37555b85;
    padding: 1.2rem;

    .principal{
        display: flex;
        h1{
            text-align: center;
            font-family: 'Geologica', sans-serif;
            font-family: 'Poppins', sans-serif;
        }
        img{
            width: 350px;
        }
        p{
            margin: 20px;
            line-height: 1.5rem;
        }

    }
}
.card-index{
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    margin: 20px;
    .title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;


    }
    .subtitle{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .info{
        font-size: 12px;
        color: #888888;
        margin-bottom: 5px;
    }

}
.doctor-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .doctor-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      
      .doctor-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .doctor-specialization {
        font-size: 18px;
        color: #888;
        margin-bottom: 20px;
      }
      
      .experience-list {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
      }
      
      .experience-list li {
        margin-bottom: 10px;
      }
      
      .contact-info {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }
  }
  

  





    
